-# in app/views/movies/show.html.haml

%h3 Details about #{@player.username}

%div.detailsList
  %ul
    %li
      Email:
      = @player.email
    %li
      Name:
      = @player.username

%br
%h3 Games Joined:

%table#games.table.table-striped.col-md-12
  %thead
    %tr
      %th Sport Name
      %th Zip Code
      %th Start Time
      %th End Time
      %th Slots Available
      %th Game Info
  %tbody
    - @games_joined.each do |game|
      %tr
        %td= game.sport_name
        %td= game.zipcode
        %td= game.game_start_time
        %td= game.game_end_time
        %td= game.spots_left
        %td= link_to "More about #{game.sport_name}", game_path(game)


%br
%h3 Games Created:

%table#games.table.table-striped.col-md-12
  %thead
    %tr
      %th Sport Name
      %th Zip Code
      %th Start Time
      %th End Time
      %th Slots Available
      %th Game Info
  %tbody
    - @games_created.each do |game|
      %tr
        %td= game.sport_name
        %td= game.zipcode
        %td= game.game_start_time
        %td= game.game_end_time
        %td= game.spots_left
        %td= link_to "More about #{game.sport_name}", game_path(game)

= button_to 'Back to Games list', games_path, :method => :get, :class => 'btn btn-primary btn-back'


